<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">

    <title>AppDen</title>
    <meta name="description" content="Cocoa and JavaScript developer.">
    <meta name="author" content="Scott Kyle">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/style.css">

    <noscript>
        <link rel="stylesheet" href="css/style-noscript.css">
    </noscript>
</head>
<body class="loading">
    <div id="wrapper">
        <div id="main">
            <header id="header">
                <h1>Scott Kyle</h1>
                <p>Creator of <a href="http://currentformac.com">Current for Mac</a></p>
                <nav>
                    <ul>
                        <li><a href="https://twitter.com/appden" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="https://github.com/appden" class="icon fa-github"><span class="label">Github</span></a></li>
                        <li><a href="mailto:scott@appden.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                    </ul>
                </nav>
            </header>

            <footer id="footer">
                <span class="copyright">
                    &copy; 2014 AppDen LLC. &nbsp; Design: <a href="http://html5up.net">HTML5 UP</a>.
                </span>
            </footer>
        </div>
    </div>

    <script src="js/init.js" defer></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-4604812-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
